[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/dependencies/v2-periphery"]
	path = contracts/dependencies/v2-periphery
	url = https://github.com/Uniswap/v2-periphery
[submodule "contracts/dependencies/protocol-contracts"]
	path = contracts/dependencies/protocol-contracts
	url = https://github.com/zeta-chain/protocol-contracts
